<!--sidebar-->
<c-sidebar
  #sidebar1="cSidebar"
  class="d-print-none sidebar sidebar-fixed border-end"
  colorScheme="dark"
  id="sidebar1"
  visible
  unfoldable="true"
>
  <c-sidebar-header class="border-bottom">
    <c-sidebar-brand cSidebarToggle="sidebar1" toggle="unfoldable" style="cursor: pointer;">
      <img [class]="{icon: false}" src="/assets/logos/LOGO1.webp" class="sidebar-brand-full" height="32" name="logo" title="Pesatto Logo"/>
      <img class="sidebar-brand-narrow" src="/assets/logos/LOGO2.webp" height="32" name="signet" title="Pesatto Logo"/>
    </c-sidebar-brand>
    <button cSidebarToggle="sidebar1"
            cButtonClose
            class="d-lg-none"
            dark
            toggle="visible"
            aria-label="Toggle sidebar"
    >
    </button>
    <button cSidebarToggler="sidebar1" toggle="unfoldable" aria-label="Toggle sidebar fold"></button>
  </c-sidebar-header>

  <ng-scrollbar #scrollbar="ngScrollbar" (updated)="onScrollbarUpdate(scrollbar.state)" class="overflow" pointerEventsMethod="scrollbar" visibility="hover">
    <c-sidebar-nav #overflow [navItems]="navItems" dropdownMode="close" compact />
  </ng-scrollbar>
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100">
  <!--app-header-->
  <app-header
    class="mb-4 d-print-none header header-sticky p-0 shadow-sm"
    position="sticky"
    sidebarId="sidebar1"
  />
  <!--app-body-->
  <div class="body flex-grow-1">
    <c-container fluid class="h-auto">
      <router-outlet ></router-outlet>
    </c-container>
  </div>
  <!--app footer-->
</div>

<!--aside-->
<!-- <app-default-aside style="display: none;" /> -->
