<c-card>
    <c-card-header>
        <input cFormControl placeholder="Buscar.." (change)="filterSeach($event)">
    </c-card-header>
    <c-card-body>
        <div *ngIf="loading" class="fade show" style="text-align: center;">
            <button cButton class="m-1" variant="outline" disabled>
                <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
                Loading...
            </button>
        </div>
        <table cTable hover responsive="md" class="fade show" *ngIf="!loading">
            <thead>
                <tr>
                    <th width="2vw">Empresa</th>
                    <th width="5vw">Nombre</th>
                    <th width="2vw">Correo</th>
                    <th width="2vw">Tipo</th>
                    <th width="2vw">Estatus</th>
                    <th width="2vw">Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td><strong>{{user.company.name}}</strong></td>
                    <td>{{user.fullname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{getUserType(user.user_type)}}</td>
                    <td>{{user.active}}</td>
                    <td *ngIf="[3,4,5].includes(userType.user_type)">
                        <c-button-group role="group" size="sm">
                            <button cButton variant="outline" color="primary"><svg
                                    [cIcon]="icons.cilPen"></svg></button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>

    </c-card-body>
</c-card>
<button *ngIf="[2,4,5].includes(userType?.user_type!)" [cModalToggle]="staticBackdropModal.id" cButton class="float"
    color="success" style="color: white;"><svg [cIcon]="icons.cilPlus"></svg></button>

<c-modal #staticBackdropModal backdrop="static" size="lg" alignment="center" id="staticBackdropModal"
    (visibleChange)="loadCompanies()">
    <c-modal-header>
        <h5 cModalTitle>Registro de Unidad</h5>
        <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <form (ngSubmit)="addUser()"
            onkeydown="if(event.keyCode === 13) {  alert( 'You have pressed Enter key, use submit button instead');  return false; }"
            [formGroup]="newUser">
            <c-row>
                <c-col>
                    <div cFormFloating>
                        <input [valid]="newUser.controls.fullname.valid" id="f0" formControlName="fullname" cFormControl
                            placeholder="Nombre" />
                        <label for="f0">Nombre Completo</label>
                    </div>
                </c-col>
                <c-col>
                    <div cFormFloating>
                        <input [valid]="newUser.controls.email.valid" id="f0" formControlName="email" cFormControl
                            placeholder="Nombre" />
                        <label for="f0">Correo</label>
                    </div>

                </c-col>
            </c-row>
            <c-row class="mt-3">
                <c-col>
                    <div cFormFloating>
                        <select id="f2" cSelect [valid]="newUser.controls.company.valid" formControlName="company">
                            <option>Empresa</option>
                            <option *ngFor="let company of companies" [value]="company._id">{{company.name}} /
                                {{company.rfc}}</option>
                        </select>
                        <label for="f2">Empresa</label>
                    </div>

                </c-col>
                <c-col>
                    <div cFormFloating>
                        <input [valid]="newUser.controls.password.valid" id="f0" type="password"
                            formControlName="password" cFormControl placeholder="Clave" />
                        <label for="f0">Clave</label>
                    </div>

                </c-col>
            </c-row>
            <c-row class="mt-3">
                <c-col>
                    <div cFormFloating>
                        <select id="f2" cSelect [valid]="newUser.controls.usertype.valid" formControlName="usertype">
                            <option>Tipo de Usuario</option>
                            <option *ngFor="let type of tipos; index as i" [value]="i">{{type}}</option>
                        </select>
                        <label for="f2">Tipo de Usuario</label>
                    </div>
                </c-col>
            </c-row>

            <c-row class="mt-5 text-center">
                <button type="submit" cButton style="color: white;" color="success" [disabled]="!newUser.valid">+
                    Agregar</button>
            </c-row>
        </form>

    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="staticBackdropModal.id" (click)="newUser.reset()" cButton style="color: white"
            color="danger">
            Cancelar
        </button>
    </c-modal-footer>
</c-modal>