<c-card>
    <c-card-header>Unidades</c-card-header>
    <c-card-body style="padding-left: 0; padding-right: 0; padding-bottom: 0;">
        <div *ngIf="loading" class="fade show" style="text-align: center;">
            <button cButton class="m-1" variant="outline" disabled>
                <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
                Loading...
            </button>
        </div>
        <table cTable hover responsive="md" class="fade show" *ngIf="!loading">
            <thead>
                <tr>
                    <th width="2vw">#</th>
                    <th width="2vw">Unidad</th>
                    <th>CFE</th>
                    <th>GEN</th>
                    <th>ENG</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of units" style="cursor: pointer;" (click)="openGenset(data._id)">
                    <td>
                        <c-avatar shape="rounded" color="primary" textColor="white"
                            [status]="data.connected?'success':'dark'">{{data.model.name}}</c-avatar>
                    </td>
                    <td>
                        <div><strong>{{data.name}}</strong></div>
                        <div class="small test-body-secondary text-nowrap">U.A. | {{data.lastupdate | date: 'dd/MM/Y H:mm'}}</div>
                    </td>
                    <td>
                        <div class="progress-group-bars">
                            <c-progress [value]="calculate(data.model.voltaje + 30, data.realvalues['0'])" color="success">{{data.realvalues['0'] | number}}
                                V</c-progress>
                            <c-progress [value]="calculate(data.model.voltaje + 30, data.realvalues['1'])" color="success">{{data.realvalues['1'] | number}}
                                V</c-progress>
                            <c-progress [value]="calculate(data.model.voltaje + 30, data.realvalues['2'])" color="success">{{data.realvalues['2'] | number}}
                                V</c-progress>
                            <c-progress [value]="calculate(data.model.hz + 10,data.realvalues['6'] / 10)" color="dark">{{data.realvalues['6'] / 10 | number}}
                                Hz</c-progress>

                        </div>

                    </td>
                    <td>
                        <div class="progress-group-bars">
                            <c-progress [value]="calculate(data.model.voltaje + 30, data.realvalues['7'])" color="warning">{{data.realvalues['7'] | number}}
                                V</c-progress>
                            <c-progress [value]="calculate(data.model.voltaje + 30, data.realvalues['8'])" color="warning">{{data.realvalues['8']| number}}
                                V</c-progress>
                            <c-progress [value]="calculate(data.model.voltaje + 30, data.realvalues['9'])" color="warning">{{data.realvalues['9'] | number}}
                                V</c-progress>
                            <c-progress [value]="calculate(data.model.hz + 10, data.realvalues['13']/10)" color="dark">{{data.realvalues['13'] / 10| number}}
                                Hz</c-progress>

                                <c-progress-stacked>
                                    <c-progress [value]="calculate(data.model.amps * 3, data.realvalues['14'])" color="primary" >{{ data.realvalues['14']}}</c-progress>
                                    <c-progress [value]="calculate(data.model.amps * 3, data.realvalues['15'])" color="secondary" >{{ data.realvalues['15']}}</c-progress>
                                    <c-progress [value]="calculate(data.model.amps * 3, data.realvalues['16'])" color="info" >{{ data.realvalues['16']}}</c-progress>
                                  </c-progress-stacked>
                        </div>

                    </td>
                    <td>
                        <div class="progress-group-bars">
                            <c-progress [value]="calculate(data.model.rpm * 1.5, (data.realvalues['23']))"
                                color="primary">{{data.realvalues['23']| number}}
                                Rpm</c-progress>
                            <c-progress [value]="calculate(data.model.oil * 1.5, (data.realvalues['19'] ))"
                                color="primary">{{data.realvalues['19'] | number}}
                                Kpa</c-progress>
                            <c-progress [value]="calculate(data.model.temp * 1.5, (data.realvalues['17']))"
                                color="primary">{{data.realvalues['17']| number}}° C</c-progress>
                            <c-progress [value]="calculate(data.model.battery * 1.5, (data.realvalues['24'] /10))"
                                color="success">{{(data.realvalues['24'] / 10) | number}} V</c-progress>

                            <c-progress [value]="calculate(100, (data.realvalues['21']))"
                                color="info">{{(data.realvalues['21']) | number}}% L</c-progress>

                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </c-card-body>
</c-card>
<button *ngIf="[2,4,5].includes(user.user_type)" cButton class="float" [cModalToggle]="staticBackdropModal.id" color="success"
    style="color: white;"><svg [cIcon]="icons.cilPlus"></svg></button>

<c-modal #staticBackdropModal backdrop="static" size="lg" alignment="center" id="staticBackdropModal"
    (visibleChange)="loadModels()">
    <c-modal-header>
        <h5 cModalTitle>Registro de Unidad</h5>
        <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <form (ngSubmit)="addUnit()"
            onkeydown="if(event.keyCode === 13) {  alert( 'You have pressed Enter key, use submit button instead');  return false; }"
            [formGroup]="gensetAdd">
            <c-row>
                <c-col>
                    <div cFormFloating>
                        <input [valid]="gensetAdd.controls.nombre.valid" id="f0" formControlName="nombre" cFormControl
                            placeholder="Nombre" />
                        <label for="f0">Nombre</label>
                    </div>
                </c-col>
                <c-col>
                    <div cFormFloating>
                        <select aria-label="Modelo" formControlName="modelo" cSelect id="f1"
                            [valid]="gensetAdd.controls.modelo.valid">
                            <option>Modelo</option>
                            <option *ngFor="let model of models" [value]="model._id">{{model.name}} / {{model.power}} /
                                {{model.voltaje}}</option>
                        </select>
                        <label cLabel for="f1">Modelo</label>
                    </div>

                </c-col>
            </c-row>
            <c-row class="mt-3">
                <c-col>
                    <div cFormFloating>
                        <input [valid]="gensetAdd.controls.serial.valid" id="f0" formControlName="serial" cFormControl
                            placeholder="No. Serie" />
                        <label for="f0">No. Serie</label>
                    </div>
                </c-col>
                <c-col>
                    <div cFormFloating>
                        <select id="f2" cSelect [valid]="gensetAdd.controls.company.valid" formControlName="company">
                            <option>Empresa</option>
                            <option *ngFor="let company of companies" [value]="company._id">{{company.name}} /
                                {{company.rfc}}</option>
                        </select>
                        <label for="f2">Empresa</label>
                    </div>

                </c-col>
            </c-row>
            <c-row class="mt-3">
                <c-col>
                    <div cFormFloating>
                        <input cFormControl id="f3" placeholder="SIM Card" [valid]="gensetAdd.controls.sim.valid"
                            formControlName="sim" />
                        <label for="f3">SIM Card</label>
                    </div>
                </c-col>
                <c-col>
                    <div cFormFloating>
                        <input cFormControl id="f4" placeholder="Host ID" [valid]="gensetAdd.controls.hostid.valid"
                            formControlName="hostid" />
                        <label for="f4">Host ID</label>
                    </div>
                </c-col>
            </c-row>

            <c-row class="mt-5 text-center">
                <button type="submit" cButton style="color: white;" color="success" [disabled]="!gensetAdd.valid">+
                    Agregar</button>
            </c-row>
        </form>

    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="staticBackdropModal.id" (click)="gensetAdd.reset()" cButton style="color: white"
            color="danger">
            Cancelar
        </button>
    </c-modal-footer>
</c-modal>